.paragraph{
font-size: 2em;
text-align: center;
}

.images{
<<<<<<< HEAD
text-align: center;
margin: 30% 0 0 0;
=======
	text-align: center;
	margin: 30% 0 0 0;
>>>>>>> 4cc68f040c76f9ee102beccc88befcea2cf2c3dd
}

img{
border-radius: 20px;
}
