<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Situación</title>
  <!-- Building blocks -->
  
  <link rel="stylesheet" href="../style/headers.css">
  <link rel="stylesheet" href="../style_unstable/lists.css">  
  <!-- Util CSS: some extra tricks -->
  <link rel="stylesheet" href="../style/util.css">
  <link rel="stylesheet" href="../style/fonts.css">
</head>
<body>
    <section id="drawer" role="region">
      <header class="fixed">
        <a href="#"><span class="icon icon-back"></span></a>
        <h1>Situación</h1>
      </header>

      <article class="content scrollable header" role="dialog" data-type="list">
        <header>¿En qué situación se encuentra?</header>
        <ul>
          <li>
            <a href="#">
              <p>Quemadura</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Luxación</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Cortada</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Herida expuesta</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Convulsión</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Parálisis</p>
            </a>
          </li>
          <li>
            <a href="#">
              <p>Ataque</p>
            </a>
          </li>
        </ul>
      </article>
    </section>

</body>
</html>

